<div class="row print-header">
  <div class="col-md-6">
    <div class="logo">
       <img src="assets\trans_physioXpert1.png" class="img-responsive" priority />
    </div>
  </div>
  <div class="col-md-6">
    <div class="bill-title">
      <span class="bill-title-small">THE</span>
      <span class="bill-title-physio">PHYSIO</span><span class="bill-title-xpert">XPERT</span>
      <span class="bill-title-small">CLINIC</span>
    </div>
    <div class="bill-address center">
      <p><Strong>Address: </Strong>B1-4/69 Sector-K Aliganj , Lucknow , Uttar Pradesh</p>
    </div>
  </div>
  <hr />
</div>
