.logo {
  width: 190px;
  height: 100px;
  display: block;
  /* margin: 0 auto; */
}

.bill-title {
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
}

.bill-title-small {
  font-size: 12px;
  color: #0052CC;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
}

.bill-title-physio {
  font-size: 18px;
  color: #E50012;
  font-weight: bold;
  text-transform: uppercase;
}

.bill-title-xpert {
  font-size: 18px;
  color: #0052CC;
  font-weight: bold;
  text-transform: uppercase;
}

.bill-address {
  font-size: 13px;
}
